body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-image: radial-gradient(black, rgb(80, 6, 6),black);
  background-color: #000000;
  background-position: center bottom;
  background-repeat: repeat;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column ;
  text-align: center;
  padding: 20px;
  height: 100vh;
}
.pergunta{
color: #ffffff;
font-size: 20px;

}
.tabela {
  
  display: flex;
  align-items: center;
  flex-direction: column ;

}
.tabela__img {
  padding: 10px;
}
.botao{
  flex-direction:row ;
  background-color:rgb(197, 181, 181);
  font-size: 20px;
  cursor: pointer
}

.botao:hover { 
  background-color: blue;
}



.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 16px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

input {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

.resultado {
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}